# Main Marco's configuration file

version = "1.0"

robot:
{
	name = "Marco"
	
	# Numbers of the pins have to be in BCM format.
	# Eg.: The pin P1_12 will be 18
	
	tracks:
	{
		left:
		{
			pinA = 15;
			pinB = 14;
			pinE = 18;
		}
		
		right:
		{
			pinA = 8;
			pinB = 7;
			pinE = 25;
		}
	}
	
	# Speed of the robot has to be in the range [0, 1]
	# Please write the numbers with the dot.
	
	speed:
	{
		min = 0.3;
		max = 1.0;
	}
	
	web:
	{
		port = 9002;
		logs = false;
	}
};
