# Example application configuration file

version = "1.0"

application:
{
	window:
	{
		title = "Test Application"
		size:
		{
			w = 640;
			h = 480;
		};
	};
}


robot:
{
	name = "Marco"
	authors = ["imolcean", "rsulaimanov", "vpupkin"];

	chassis:
	{
		type = "tracks";
		length = 30000;
		width = 20000;
		height = 10000;
		measure = "mm";
	};
};